<%= render "layouts/shared/header", :title => "Izmeni profil", :action => "home" %>

<div class="scroll">
  <section>
  <ul class="tableview tableview-links" id="hwlist">

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "uniForm"}) do |f| %>
      <%= devise_error_messages! %>

      <fieldset class="inlineLabels">

        <div class="ctrlHolder">
          <%= f.label :email, "Email adresa"%>
          <%= f.email_field :email, :size => "35", :class => "textInput" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="ctrlHolder">
          <%= f.label :username, "Korisničko ime"%>
          <%= f.text_field :username, :size => "35", :class => "textInput" %>
        </div>

        <div class="ctrlHolder">
          <%= f.label :about, "Informacije" %>
          <%= f.text_area :about %>
          <%= markdown_hint %>
        </div>

        <div class="ctrlHolder">
          <%= f.label :password , "Nova šifra"%>
          <%= f.password_field :password, :size => "35", :class => "textInput" %>
        </div>

        <div class="ctrlHolder">
          <%= f.label :password_confirmation, "Ponovite novu šifru" %>
          <%= f.password_field :password_confirmation, :size => "35", :class => "textInput" %>
        </div>

        <div class="ctrlHolder">
          <%= f.label :current_password , "Trenutna šifra"%>
          <%= f.password_field :current_password, :size => "35", :class => "textInput" %>
          <p class="formHint">Trenutna šifra je neophodna za ažuriranje profila.</p>
        </div>

        <div class="buttonHolder">
          <%= f.submit "Izmeni profil", :class => "primaryAction" %>
        </div>

      </fieldset>

    </ul>
  <% end %>

  <ul class="grouped-tableview cf delete-acc">
    <h2>Brisanje naloga</h2>

    <%= button_to "Obriši nalog", registration_path(resource_name), :data => { :confirm => "Da li ste sigurni da želite da obrišete nalog?" }, :method => :delete, :class => "primaryAction" %>
  </ul>

  <ul class="tableview tableview-links">
    <div class="back">
      <%= link_to "← Povratak na profil", user_path(@user)  %>
    </div>
  </ul>

  </section>
</div>
