<header class="main">
  <%= link_to "#", :id=>"more-button", :class=>"header-button header-button-icon header-button-left" do %>
    <button><i class="icon-more">More</i></button>
  <% end %>

  <%= render "news/dropdown" %>

  <h1>Uclani se</h1>

  <%= link_to news_index_path, :class => "header-button header-button-icon header-button-right" do %>
    <button><i class="icon-home">Home</i></button>
  <% end %>
</header>

<div class="scroll">
  <section>
    <ul class="tableview tableview-links" id="hwlist">

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "uniForm"}) do |f| %>
        <%= devise_error_messages! %>

        <fieldset class="inlineLabels">

          <div class="ctrlHolder">
            <%= f.label :email, "Email adresa"%>
            <%= f.email_field :email, :size => "35", :class => "textInput" %>
          </div>

          <div class="ctrlHolder">
            <%= f.label :username, "Korisnicko ime"%>
            <%= f.text_field :username, :size => "35", :class => "textInput" %>
          </div>

          <div class="ctrlHolder">
            <%= f.label :password , "Sifra"%>
            <%= f.password_field :password, :size => "35", :class => "textInput" %>
          </div>

          <div class="ctrlHolder">
            <%= f.label :password_confirmation, "Ponovite sifru" %>
            <%= f.password_field :password_confirmation, :size => "35", :class => "textInput" %>
          </div>

          <div class="buttonHolder">
            <%= f.submit "Uclani se", :class => "primaryAction" %>
          </div>

        </fieldset>
      <% end %>

      <%= render "devise/shared/links" %>
    </ul>
  </section>
</div>
