<header class="main">
  <%= link_to "#", :id=>"more-button", :class=>"header-button header-button-icon header-button-left" do %>
    <button><i class="icon-more">More</i></button>
  <% end %>

  <%= render "news/dropdown" %>

  <h1><%= @news.title %></h1>

  <%= link_to news_index_path, :class => "header-button header-button-icon header-button-right" do %>
    <button><i class="icon-home">Home</i></button>
  <% end %>
</header>

<div class="scroll">

    <section class="comments">

      <ul>
        <%= nested_comments(@comment.path.arrange) %>
      </ul>

      <%= link_to "Back", news_path(@news) %>

    </section>

</div>
