<%= render "layouts/shared/header", :title => "Zaboravljena šifra", :action => "home" %>

<div class="scroll">
  <section>
  <ul class="tableview tableview-links" id="hwlist">

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:class => "uniForm",:method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <%= f.hidden_field :reset_password_token %>

      <fieldset class="inlineLabels">
        <div class="ctrlHolder">
          <%= f.label :password, "Nova sifra" %>
          <%= f.password_field :password%>
        </div>

        <div class="ctrlHolder">
          <%= f.label :password_confirmation, "Ponovite novu šifru" %>
          <%= f.password_field :password_confirmation %>
        </div>

        <div class="buttonHolder">
          <%= f.submit "Promeni šifru", :class => "primaryAction"  %>
        </div>
      </fieldset>
    <% end %>

    <%= render "devise/shared/links" %>
  </ul>
  </section>
</div>
