<div class="dropdown">
  <dl class="dropdown-items">
    <dd>
        <%= link_to news_index_path do %>
        <strong class="dropdown-item-name">Najpopularnije</strong>
        <% end %>
    </dd>
    <dd>
      <%= link_to newest_path do %>
        <strong class="dropdown-item-name">Najnovije</strong>
      <% end %>
    </dd>
    <dd>
      <%= link_to new_news_path do %>
        <strong class="dropdown-item-name">Dodaj utisak</strong>
      <% end %>
    </dd>
    <dd>
    <dd>
      <%= link_to about_path do %>
        <strong class="dropdown-item-name">O utisku</strong>
      <% end %>
    </dd>
    <% if user_signed_in? %>
      <dd>
      <%= link_to user_path(current_user) do %>
          <strong class="dropdown-item-name">Prijavljen kao: <%= current_user.username %> (<%= current_user.total_votes %>)</strong>
      <% end %>
      </dd>
      <hr>
      <dd>
        <%= link_to destroy_user_session_path, :title => "Odjavi se", :method => :delete do %>
          <strong class="dropdown-item-name">Odjavi se</strong>
        <% end  %>
      </dd>
    <% else %>
      <hr>
      <dd>
        <%= link_to new_user_session_path, :title => "Prijavi se" do %>
          <strong class="dropdown-item-name">Prijavi se</strong>
        <% end  %>
      </dd>
    <% end %>
  </dl>
</div>
