<%= form_for @news, :html => { :class => "uniForm" } do |f| %>
  <%= f.error_messages %>

  <fieldset class="inlineLabels">
    <div class="ctrlHolder">
      <%= f.label :title, "Naslov" %>
      <%= f.text_field :title, :size => "35", :class => "textInput" %>
    </div>

    <div class="ctrlHolder">
      <%= f.label :url, "Link" %>
      <%= f.text_field :url, :size => "35", :class => "textInput" %>
    </div>

    <div class="ctrlHolder">
      <%= f.label :content, "Lični utisak" %>
      <%= f.text_area :content %>
      <%= markdown_hint %>
    </div>

    <% label = @news.new_record? ? "Dodaj" : "Izmeni" -%>

    <div class="buttonHolder">
      <%= f.submit label, :class => "primaryAction" %>
    </div>
  </fieldset>

  <div class="bookmarklet">
    Utisak je moguće koristiti i pomoću bookmarkleta. Prevucite ovaj link u traku sa prečicama, od sada u bilo kom trenutku možete sa lakocom da podelite bilo koji link klikom na utisak bookmarlet.
    <%= link_to("postavi na utisak.com", bookmarklet) %>
  </div>

<% end %>
