<div class="post-content">
  <header>

    <h1>
      <%= link_to @news.url do %>
        <%= @news.title %>
      <% end  %>
    </h1>

    <p class="metadata">
      <span class="inline-block"><%= @news.points %> glasova, autor <%= @news.user.email %></span>
      <span class="inline-block"><%= render_time @news.created_at %> · <%= @news.comments.length %> komentara</span>
      <%= link_to @news.url, @news.url, :class => "external-link" %>
    </p>

  </header>
</div>
