<header class="main">
  <%= link_to "#", :id=>"more-button", :class=>"header-button header-button-icon header-button-left" do %>
    <button><i class="icon-more">More</i></button>
  <% end %>

  <%= render "news/dropdown" %>

  <% if action_name == "index" -%>
    <h1>Utisak <small>vazne vesti</small></h1>
  <% else  -%>
    <h1>Najnoviji utisci</h1>
  <% end  -%>

  <%= link_to new_news_path, :class => "header-button header-button-icon header-button-right" do %>
    <button><i class="icon-add"></i></button>
  <% end %>
</header>

<div class="scroll">
  <section>
    <ul class="tableview tableview-links" id="hwlist results">

      <%= render "news" %>

      <li>
      <%= link_to_next_page @news, 'Load More', :class => "more-link" %>
      </li>

    </ul>
  </section>
</div>
