<header class="main">
  <%= link_to "#", :id=>"more-button", :class=>"header-button header-button-icon header-button-left" do %>
    <button><i class="icon-more">More</i></button>
  <% end %>

  <%= render "news/dropdown" %>

  <% if action_name == "index" -%>
    <h1>Utisak <small>vazne vesti</small></h1>
  <% else  -%>
    <h1>Najnoviji utisci</h1>
  <% end  -%>

  <%= link_to new_news_path, :class => "header-button header-button-icon header-button-right" do %>
    <button><i class="icon-add"></i></button>
  <% end %>
</header>

<div class="scroll">
  <section>
    <ul class="tableview tableview-links" id="hwlist">

      <% @news.each_with_index do |news, index| %>
        <li data-index="1" class="post-link">

        <% if current_user and current_user.can_vote_for?(news) %>
          <%= link_to vote_news_path(news), :method => :post, :class => "detail-vote-button" do %>
            <span></span>
          <% end %>
        <% else %>
          <%= link_to '#', :class => "detail-vote-button disabled" do %>
            <span></span>
          <% end %>
        <% end %>

          <%= link_to news.url, :class => "detail-disclosure" do %>
            <div class="number"><%= index+1 %>.</div>
            <div class="story">
              <b><%= news.title %></b>
              <span class="metadata">
                <span class="link-text"><%= news.domain %></span><br>
                <span class="inline-block">
                  <%= news.points %> glasova, autor <%= news.user.email %>
                </span>
                <span class="inline-block">
                  <%= render_time news.created_at %> · <%= news.comments.length %> komentara
                </span>
              </span>
            </div>
          <% end %>

          <%= link_to news_path(news), :class => "detail-disclosure-button" do %>
            <span></span>
          <% end %>

        </li>
      <% end %>
      <li><a class="more-link">More…<span class="loader"></span></a></li>
    </ul>
  </section>
</div>
