<%= render "news_header" %>

<div class="scroll">
  <section>

    <%= render "news_show" %>

    <section class="comments">

      <% if user_signed_in? -%>
        <%= render "comments/form" %>
      <% else -%>
        <p class="info">Morate biti <%= link_to "prijavljeni", new_user_session_path, :class => "link-text" %> da bi ste komentarisali.</p>

      <% end  -%>

      <ul>
        <%= nested_comments @comments.arrange(:order => :created_at) %>
      </ul>

    </section>

  </section>
</div>
