<header class="main">
  {{#linkTo index classNames="header-button header-button-icon header-button-left"}}
    <button><i class="icon-home">Home</i></button>
  {{/linkTo}}

  <h1 style="margin: 0 65px;">{{title}}</h1>

</header>

<div class="scroll">
  <section>
    <div class="post-content">
      <header>
        <h1>
          {{unbound externalLink url}}
          {{title}}
          {{externalLinkEnd}}
        </h1>
        <p class="metadata">
        <span class="inline-block">{{points}} glasova, autor {{author}}</span>
        <span class="inline-block">{{timeAgo created_at}} · {{comments.length}} komentara</span>
        {{externalUrl url}}
        </p>
      </header>
    </div>
  </section>
</div>
