<header class="main">
  {{#linkTo more classNames="header-button header-button-icon header-button-left"}}
    <button><i class="icon-more">More</i></button>
  {{/linkTo}}

  <h1 style="margin: 0 65px;">Važno.</h1>

  <a class="header-button header-button-icon header-button-right" id=kkk"content-home-refresh">
    <button><i class="icon-refresh">Refresh</i></button>
  </a>
</header>

<div class="scroll">
  <section>
    <ul class="tableview tableview-links" id="hwlist">

      {{#each controller}}
        {{#view}}
          <li id="story-5572875" data-index="1" class="post-link">

            {{#if can_vote}}
              <a href="#" {{action 'vote' this}} class="detail-vote-button">
            {{else}}
              <a href="#" class="detail-vote-button disabled">
            {{/if}}
                <span></span>
              </a>

            {{unbound externalLink url}}
              <div class="number">{{view._parentView.contentIndex}}.</div>
              <div class="story">
                <b>{{title}}</b>
                <span class="metadata">
                  <span class="link-text">{{domain}}</span><br>
                  <span class="inline-block">{{points}} glasova, autor {{author}}</span>
                  <span class="inline-block">{{timeAgo created_at}} · {{comments.length}} komentara</span>
                </span>
              </div>
            {{externalLinkEnd}}

            {{#linkTo 'news.show' this classNames="detail-disclosure-button"}}
              <span></span>
            {{/linkTo}}
          </li>
        {{/view}}
      {{/each}}

    </ul>
  </section>
</div>
