<header>
  {{#linkTo more classNames="header-button header-button-icon header-button-left"}}
    <button><i class="icon-more">More</i></button>
  {{/linkTo}}

  <h1 style="margin: 0 65px;">Važno.</h1>

  <a class="header-button header-button-icon header-button-right" id=kkk"content-home-refresh">
    <button><i class="icon-refresh">Refresh</i></button>
  </a>
</header>

<div class="scroll">
  <section>
    <ul class="tableview tableview-links" id="hwlist">

      {{#each controller}}
        {{#view}}
          <li id="story-5572875" data-index="1" class="post-link">

            {{#linkTo 'news.show' this classNames="detail-vote-button"}}
              <span></span>
            {{/linkTo}}

            {{unbound externalLink url}}
              <div class="number">{{view._parentView.contentIndex}}.</div>
              <div class="story">
                <b>{{title}}</b>
                <span class="metadata">
                  <span class="link-text">{{domain}}</span><br>
                  <span class="inline-block">{{points}} glasova, autor evo_9</span>
                  <span class="inline-block">1 hour ago · 11 komentara</span>
                </span>
              </div>
            {{externalLinkEnd}}

            {{#linkTo 'news.show' this classNames="detail-disclosure-button"}}
              <span></span>
            {{/linkTo}}
          </li>
        {{/view}}
      {{/each}}

    </ul>
  </section>
</div>
