<h1>Users</h1>

<%= form_for @search, :url => admin_users_path, :html => { :method => :get, :class => "well form-search" } do |f| %>
  <%= f.label :login_or_email_contains, "Search by login or email: "%>
  <%= f.text_field :username_or_email_contains, :class => "input-medium search-query" %>
  <%= f.submit "Search", :class => "btn" %>
<% end %>

<table class="sortable table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th><%= sortable "id" %></th>
      <th><%= sortable "login" %></th>
      <th><%= sortable "email" %></th>
      <th><%= sortable "news" %></th>
      <th><%= sortable "comm." %></th>
      <th><%= sortable "sign_in_count", "Signed in count" %></th>
      <th><%= sortable "created_at", "Signed up" %></th>
      <th>Destroy</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="user">
        <td><%= link_to(user.id, admin_user_path(user)) %></td>
        <td><%= link_to(user.username, admin_user_path(user)) %></td>
        <td><%= link_to(user.email, admin_user_path(user)) %></td>
        <td><%= user.news.count %></td>
        <td><%= user.comments.count %></td>
        <td><%= user.sign_in_count %></td>
        <td><%= l( user.created_at, :format => :short_date ) %></td>
        <td><%= link_to admin_user_path(user), :data => { :confirm => 'Are you sure?' }, :method => :delete do %>
            <i class="icon-remove"></i>
          <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
