<div class="page-header">
  <h1>User: <%= @user.username %></h1>
</div>

<table class="table table-hover">
  <tbody>
    <tr>
      <td>ID:</td>
      <td><%= @user.id %>
    </tr>

    <tr>
      <td>Username:</td>
      <td><%= @user.username %></td>
    </tr>

    <tr>
      <td>Email:</td>
      <td><%= @user.email %></td>
    </tr>

    <tr>
      <td>Auth token :</td>
      <td><%= @user.authentication_token %></td>
    </tr>

    <tr>
      <td>Karma:</td>
      <td><%= @user.total_votes%> </td>
    </tr>

    <tr>
      <td>Created at:</td>
      <td><%= l( @user.created_at, :format => :date_with_time ) %></td>
    </tr>

    <tr>
      <td>Updated at:</td>
      <td><%= l( @user.updated_at, :format => :date_with_time ) %></td>
    </tr>
  </tbody>
</table>

<%= link_to "Edit", edit_admin_user_path(@user) %> |
<%= link_to "Back", :back %>

<h3>News (<%= @user.news.count %>)</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable "id" %></th>
      <th><%= sortable "title" %></th>
      <th><%= sortable "link" %></th>
      <th><%= sortable "points" %></th>
      <th><%= sortable "created_at" %></th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @user.news.each do |news| -%>
      <tr>
        <td><%= link_to(news.id, admin_news_path(news)) %></td>
        <td><%= news.title %></td>
        <td><%= link_to(news.domain, news.url) %></td>
        <td><%= news.points %></td>
        <td><%= l( news.created_at, :format => :date_with_time ) %></td>
        <td><%= link_to("", admin_news_path(news), :confirm => "Are you sure?", :method => :delete, :class=>"icon-remove") %> </td>
      </tr>
    <% end -%>
  </tbody>
</table>
